.loginPageBackground{
background: url("../resources/images/loginPage.jpg");
}

.labelColor{
  color:#007BFF;
}

.loginHeader{
  color:white;
}

.divAlign{
  margin-top : 15rem;
}

.errorPageBackground{
  background: url("../resources/images/error_page.jpg");
}
.tablePageBackground{
  background-color: rgba(255,255,255,0.7);
}
.tableHeader{
  font-size: 20px;
}
.tableData{
  color: #000055;
}
.tablePageHeader{
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.tableHeaderColor{
  background-color: rgba(0,0,10,0.6);
  color: white;
}
.navTabText{
  color: white;
}
