.loginPageBackground{
background: url("../resources/images/loginPage.jpg");
}

.labelColor{
  color:#007BFF;
}

.loginHeader{
  color:white;
}

.divAlign{
  margin-top : 15rem;
}

.errorPageBackground{
  background: url("../resources/images/error_page.jpg");
}
.tablePageBackground{
  background-color: rgba(255,255,255,0.7);
}
.tableHeader{
  font-size: 20px;
}
.tableData{
  color: #000055;
}
.tablePageHeader{
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.tableHeaderColor{
  background-color: rgba(0,0,10,0.6);
  color: white;
}
.navTabText{
  color: white;
}
html, body, #map_canvas {
         height: 100%;
         width: 100%;
         margin: 0px;
     }

     #map_canvas {
         position: relative;
     }

     .angular-google-map-container {
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
     }
